:root {
    --bg:#131211;
}

* {
    padding: 0;
    margin: 0;
    transition: all .3s ease;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-image: url('../images/hip-square.webp');
    background-position:bottom left;
    background-attachment: fixed;
    font-family: 'Quattrocento Sans', sans-serif;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    background-color:var(--bg);
    color: bisque;
    position: FIXED;
    z-index: 500;
    margin-top: -7.5vh;
    flex-wrap: wrap;
}

header h1 {
    margin-right: auto;
    padding:1vh;
    font-family: 'Satisfy', cursive;
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-right: 10vw;
}

nav ul li a {
    padding: 1vh;
    text-transform: lowercase;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7.5vh;
}

.selfie {
    padding:1vh;
}

.selfie img {
    width: 20vw;
}

.desc h2 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 2vw;
}

.desc p {
    padding: 1vh;
    background-color: #dfa132;
    width: 25vw;
    text-align: center;
    border-radius: 10px;
    border: 5px double bisque;
    box-shadow: #131211 0px 0px 5px;
    font-size: 1vw;
    padding: 1vh;
}

.works {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -2.5vh;
}

.works h2 {
    font-size: 5vw;
    margin: 2vh;
    padding: 2vh;
    border-bottom: 5px solid #dfa132;
    text-align: center;
    width: 70vw;
    font-family: 'Satisfy', cursive;
}

.content {
    display: flex;
    width: 70vw;
    justify-content: center;
    flex-wrap: wrap;
}

.recents {
    width: 33vw;
    height: 23vw;
    background-color: #131211;
    margin: 1vw;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recents img {
    width: 200%;
}

.cover {
    background-color: rgb(255, 228, 196, .6);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    flex-direction: column;
    border-radius: 10px;
    border: 5px double bisque;
    flex: 1 0 100%;
    width: 33vw;
    height: 23vw;
}

.cover h3 {
    background-color: rgba(11, 10, 9, 0.9);
    color: bisque;
    padding: 1vw;
    border-radius: 10px;
    font-size: 2vw;
}

.cover p {
    width: 70%;
    text-align: center;
    background-color: rgba(11, 10, 9, 0.9);
    border-radius: 10px;
    color: bisque;
    font-size: 1vw;
    padding: 1vw;
    margin: 1vw;
}

.cover:hover {
    background-color: rgb(223, 161, 50);
}

.cover a {
    color:#dfa132;
}

.cover a:hover {
    color:#ffee00;
}

.big {
    width: 68vw;
    height: 38vw;
}

.big img {
    width: 100%;
}

.big .cover {
    width: 68vw;
    height: 38vw;
}

.big .cover h3 {
    margin:2vw;
    font-size: 3vw;
    padding: 2vw;
}

.big .cover p {
    font-size: 1.5vw;
    padding: 2vw;
}

.big .cover ul {
    list-style: none;
}

footer {
    height: 10vh;
    background-color: #131211;
    margin-top: 5vh;
}